/* Nav styles */

.navigation{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* Font for LOGO */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  /* font-style: normal; */
}

/* secondary font */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* header section bg image */

.header{
    background-image: url(/images/Hero-bg.png);
    background-size: cover;       /* Cover entire header */
    background-position: center;  /* Center the image */
    /* max-height: 700px;                Set height of header */
                   /* Optional: text color */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.header-container1{
    margin: 0px 20px;
}

.header-container2{
    margin-bottom: 152px;
    margin-left: 267px;
    margin-right: 267px;
}

.primary-color{
    color: #4E47FF;

}


/* Styles for Footer section */

.footer{

    background-color: #f9f9fb;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer_logo{
    font-size: 64px;
    color: #4f46e5;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer_description{
    color: #888;
    font-size: 16px;
    max-width: 600px;
    margin: 20px auto 30px auto;
    line-height: 1.6;
}

.footer_links{
    list-style: none;
    display: flex;

}

.footer_links li{
    margin: 0 25px;
}
.footer_links a{
    text-decoration: none;
    color: #777;
    font-size: 15px;
    transition: color 0.3s, text-decoration 0.3s;
}
.footer_links a:hover {
  color: #4f46e5;
  text-decoration: underline;
}